doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title Play EWW

    // Bootstrap
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')

    style.
      .form-group label {
        margin-right: 1em;
      }
  body
    .container
      #connecting
        h2 Connecting to EWW...
      #lobby(hidden)
        h2 Enter Name
        form#name-form.form-inline
          .form-group
            label(for='player-name') Name
            p#static-player-name.form-control-static(hidden)
            input#player-name.form-control(type='text', placeholder='Name')
          button.btn.btn-default(type='submit') Submit
        button#ready.btn.btn-lg.btn-primary(type='button') Ready
      #waiting
        h2 Wait for a decision!

    // jQuery
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    // Bootstrap
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
    // JS for play
    script(src='/public/js/play.client.js')
