doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    // Font Awesome
    script(src='https://use.fontawesome.com/4b47a4f15e.js')

    title Play SIC

    // Bootstrap
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')

    style.
      .form-group label {
        margin-right: 1em;
      }

      #ready i {
        margin-right: 0.5em;
      }

      .choices {
        width: 100%;
      }

      #color-box {
        content: '';
        display: inline-block;
        width: 10px;
      }
  body
    .container
      #connecting
        h2 Connecting to SIC...
      #lobby(hidden)
        h2 Enter Name
        form#name-form.form-inline
          .form-group
            label(for='player-name') Name
            p#static-player-name.form-control-static(hidden)
            input#player-name.form-control(type='text', placeholder='Name')
          button.btn.btn-default(type='submit') Submit
        = "You are currently "
        button#ready.btn.btn-lg.btn-primary(type='button')
          i.fa.fa-times
          span Not Ready
      #playing(hidden)
        section#info
          h2 Your Information
          p
            = "You are the "
            strong#role ROLE
            = " and you "
            strong#messmaker MIGHT BE
            = " the messmaker. You are "
            strong(style="color: slateblue;")#color A COLOR
        section#room
          h2 Room Information
          p#infoHere YOU ARE HERE
          h2 Room Action
          .choices.btn-group-vertical(role='group')
            button#action.btn.btn-default(type='button') DO THE THING
        section#movement
          h2 Go To Room
          #neighbors.choices.btn-group-vertical(role='group')
            button.btn.btn-default(type='button') OVER HERE
            button.btn.btn-default(type='button') OVER THERE
            button.btn.btn-default(type='button') EVERYWHERE

    // jQuery
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    // Bootstrap
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
    // Lodash
    script(src='https://cdn.jsdelivr.net/lodash/4.16.0/lodash.min.js')
    // Chroma.js
    script(src='https://cdnjs.cloudflare.com/ajax/libs/chroma-js/1.2.1/chroma.min.js')
    // JS for play
    script(src='/public/js/play.js')
